$font_poppins: 'Poppins', 'sans-serif';
$font_futura_medium: 'Futura Md BT';
$font_futura_bold: 'Futura';
$font_proxima_nova: 'proxima-nova', 'sans-serif';
$light_blue: #D5E9ED;
$blue: #8BC8D4;
$pink: #F8AFAF;
$light_gray: #F8F8F8;
$gray: #4D4949;
$dark: #292929;
$ivory: #F9F7E8;
$orange: #F9ED92;
@font-face {
  font-family: 'Futura Md BT';
  src: url('./assets/fonts/FuturaBT-Medium.eot');
  src: url('./assets/fonts/FuturaBT-Medium.eot?#iefix') format('embedded-opentype'), url('./assets/fonts/FuturaBT-Medium.woff2') format('woff2'), url('./assets/fonts/FuturaBT-Medium.woff') format('woff'), url('./assets/fonts/FuturaBT-Medium.ttf') format('truetype'), url('./assets/fonts/FuturaBT-Medium.svg#FuturaBT-Medium') format('svg');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Futura';
  src: url('./assets/fonts/Futura-Bold.eot');
  src: url('./assets/fonts/Futura-Bold.eot?#iefix') format('embedded-opentype'), url('./assets/fonts/Futura-Bold.woff2') format('woff2'), url('./assets/fonts/Futura-Bold.woff') format('woff'), url('./assets/fonts/Futura-Bold.ttf') format('truetype'), url('./assets/fonts/Futura-Bold.svg#Futura-Bold') format('svg');
  font-style: normal;
  font-display: swap;
}
@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}
@mixin border-radius($property) {
  -webkit-border-radius: $property;
  -ms-border-radius: $property;
  border-radius: $property;
}
@mixin box-shadow($property) {
  -webkit-box-shadow: $property;
  -ms-box-shadow: $property;
  box-shadow: $property;
}

button,
input,
optgroup,
select,
textarea {
  line-height: initial;
}

ul {
  list-style: none;
  padding-left: 0;
}

input:focus {
  box-shadow: none !important;
  outline: none;
}

.f_20 {
  font-size: 20px;
}

.ml_35 {
  margin-left: 35px;
}

.w_20 { 
  width: 20%;
}

.pink {
  color: $pink;
}

a.pink:hover {
  color: $pink;
}

.light_blue {
  color: $light_blue;
}

.light_gray {
  color: $light_gray;
}

.dark {
  color: $gray;
}

.bg_pink {
  background: $pink;
}

.bg_light_blue {
  background: $light_blue;
}

.bg_orange {
  background: $orange;
}

a:focus,
button:focus {
  outline: 0;
  box-shadow: none;
}

.body_text {
  font-family: $font_poppins;
  font-size: 18px;
  color: $gray;
}

h2 {
  &.title {
    font-family: $font_proxima_nova;
    font-weight: 600;
    font-size: 40px;
    color: $gray;
    margin-bottom: 0;
    @media screen and (max-width: 1365px) {
      font-size: 30px;
    }
    @media screen and (max-width: 991px) {
      font-size: 25px;
    }
  }
}

.card {
  background: none;
  border: none;

  .card-body {
    padding: 0;
  }
}

/******************* HOMEPAGE START *****************/

.homepage_product_card {
  .card_wrap {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    // height: 100%;
    @media screen and (min-width: 991px) {
      height: 600px;
      margin-bottom: 30px;
    }
    @media screen and (min-width: 1366px) {
      height: 600px;
    }

    .card {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 30px;
      @media screen and (max-width: 991px) {
        flex-direction: column;
      }

      .card_images {
        max-height: 500px;
        text-align: center;
        margin-bottom: 30px;

        img {
          width: unset;
          max-width: 100%;
          max-height: 100%;
        }
      }

      .card-body {
        padding: 0;

        .card-text {
          @extend .body_text;
          font-weight: 300;
          margin: 20px 0 50px;
          @media screen and (max-width: 1365px) {
            margin: 20px 0 30px;
          }
        }

        .btn {
          font-family: $font_poppins;
          padding: 15px;
          background: transparent;
          border: 1.5px solid #4d4949;
          font-weight: 600;
          font-size: 15px;
          letter-spacing: .05em;
          color: #4d4949;
          @include border-radius(0);
          @media screen and (max-width: 1365px) {
            padding: 10px;
          }
        }
      }
    }

    &.horizontal_content {
      background: $light_blue;

      .card_images {
        padding-right: 30px;
        @media screen and (min-width: 1366px) {
          width: 50%;
        }
      }

      .card-body {
        @media screen and (max-width: 991px) {
          text-align: center;
        }
        @media screen and (min-width: 1366px) {
          width: 50%;
        }
      }
    }

    &.center_content {
      background: #FDEBEB;
      justify-content: center;

      .card {
        flex-direction: column;
      }

      .card-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .card-text {
          // margin: 10px 0 20px;
        }
      }
    }

    &.twoside_image_content {
      background: $ivory;

      .card {
        padding: 30px;
        @media screen and (min-width: 1366px) {
          padding: 0;
          margin: 0 100px;
        }

        .card_images {
          &:last-child {
            @media screen and (max-width: 1365px) {
              margin-top: 50px;
              margin-bottom: 0;
            }
          }
        }

        .card-body {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 0 15%;

          .card-text {
            text-align: center;
          }
        }
      }
    }
  }
}

/******************* HOMEPAGE END *****************/

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  font-size: 14px;
  line-height: 27px;
  color: #4D4949;
  overflow-x: hidden;
  max-width: 100%;
}

::selection {
  color: #ffffff;
  background: #4D4949;
}

button {
  &:focus {
    outline: #4D4949;
  }
}

a {
  &:focus {
    outline: #4D4949;
  }
}

.btn {
  &:focus {
    outline: #4D4949;
    outline: 0;
    box-shadow: none;
  }
}

.btn.focus {
  outline: 0;
  box-shadow: none;
}

nav.navbar.navbar-expand-sm.navbar-dark.bg-dark {
  background-color: #292929 !important;
  padding: 0;
}

nav.navbar {
  padding: 0 !important;
}

.custom_btn {
  padding: 12px 38px;
  background: #fff;
  border: 1.5px solid #4d4949;
  font-family: Poppins;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: .05em;
  text-align: left;
  color: #4d4949;
  text-align: center;

  &:hover {
    background: #F95B3D;
    color: #FFFFFF;
  }

  &:last-child {
    margin-right: 2.625rem !important;
    margin-left: 24px !important;
  }
}

.navbar-dark {
  .navbar-nav {
    .nav-link {
      color: #FFFFFF;
      color: #FFFFFF;
      font-family: "Poppins";
      font-weight: normal;
      font-size: 14px;
      letter-spacing: .11em;
      text-align: left;
      color: #fff;
      padding: 24px;
    }
  }

  .navbar-toggler {
    border: none;
  }
}

ul.navbar-nav.mr-auto {
  margin: 0 auto;
}

header {
  &.fixed {
    position: fixed;
  }

  &.header.aos-init.aos-animate {
    background-color: #ffffff;
    z-index: 99;
    width: -webkit-fill-available;
  }
}

.container-fluid {
  padding: 30px 30px 0;
}

// div#myCarousel {
//   margin-top: 94px;
// }

.carousel-item {
  background: #F8F8F8;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

.slider-caption {
  position: absolute;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;

  h1.title {
    font-family: proxima-nova, sans-serif;
    font-weight: bold;
    font-size: 63px;
    letter-spacing: .08em;
    line-height: 54px;
    color: #4d4949;
    padding: 30px 0 24px;
    text-transform: uppercase;
  }

  .body_text {
    max-width: 471px;
    height: 54px;
    font-weight: 300;
    font-size: 18px;
    color: #4d4949;
    margin-bottom: 60px;
    margin-top: 0;
  }
}

div.slider-caption {
  span {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: .14em;
    color: #747474;
  }
}

.order_now_btn {
  width: 148px;
  background: transparent;
  border: 1.5px solid #4d4949;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: .05em;
  text-align: center;
  color: #4d4949;
  padding: 13px;

  &:hover {
    background: #4d4949;
    color: #ffffff;
  }
}

a.btn.order_now_btn.btn-lg.btn-primary {
  padding: 13px;
}

span.carousel-control-next-icon.ml-auto {
  margin-right: 42px;
}

.carousel-indicators {
  li {
    width: 10px;
    height: 10px;
    margin-right: 14px;
    margin-left: 14px;
    cursor: pointer;
    background-color: #4D4949;
    transition: none;
    opacity: 1;
    margin-bottom: 60px;
  }

  .active {
    width: 16px;
    height: 16px;
    background: #fff;
    border: 1px solid #4d4949;
  }
}

.section_two {
  padding: 0;
}

.section_caption1 {
  max-width: 42%;
}

.kabino_img {
  background: url("./assets/images/kabino_img.jpg");
  height: 695px;
  background-repeat: no-repeat;
  background-position-y: 30px;
  background-color: #d5e8ec;
}

h3.title {
  font-family: "Proxima Nova";
  font-weight: bold;
  font-size: 45px;
  letter-spacing: .05em;
  line-height: 56px;
  color: #4d4949;
}

.body_text {
  font-family: "Poppins";
  font-weight: 300;
  font-size: 18px;
  color: #4d4949;
  margin: 20px 0 50px;
}

.view_products_btn {
  padding: 15px;
  background: transparent;
  border: 1.5px solid #4d4949;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: .05em;
  color: #4d4949;

  &:hover {
    background: #4d4949;
    color: #ffffff;
  }
}

.section_caption2 {
  padding-bottom: 40px;
  max-width: 80%;
  margin: 0 auto;
}

.aram_chair {
  background: url("./assets/images/aram_chair.jpg");
  height: 695px;
  background-repeat: no-repeat;
  background-position-y: -20px;
  background-position-x: -40px;
  background-color: #fdebeb;
  margin: 0 auto;
}

.section_caption3.text-center {
  margin: 0 auto;
  width: 30%;
}

.wooden_chair {
  background: url("./assets/images/wooden_chair.jpg");
  height: 695px;
  margin: 0 auto;
}

.section_four {
  .col-lg-8.col-sm-12 {
    padding-right: 30px;
    padding-left: 15px;
  }

  .col-lg-4.col-sm-12 {
    padding-right: 0;
    padding-left: 15px;
  }

  padding: 0 15px;
}

.contact_us {
  padding: 149px 121px;
  height: 695px;
  background: #f8f8f8;
  padding-right: 62px;

  h6 {
    font-weight: 600;
    font-size: 28px;
    text-align: left;
    color: #4d4949;
    margin: 55px 0 24px;
  }

  p {
    a {
      margin: 18px 0;
      font-weight: normal;
      font-size: 18px;
      text-align: left;
      color: #4d4949;

      &:hover {
        text-decoration: none;
        color: #000000;
      }
    }

    max-width: 90%;
  }

  ul {
    li {
      a {
        &:hover {
          text-decoration: none;
          color: #000000;
        }
      }
    }
  }
}

ul.list-unstyled.text-small {
  li {
    margin: 16px 0;

    a {
      font-weight: 400;
      font-size: 16px;
      text-align: left;
      color: #bfbfbf;
    }
  }
}

.news_letter {
  padding: 40px;

  p {
    max-width: 78%;
    margin: 0 auto;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #4d4949;
  }

  &.text-center {
    height: 695px;
    background: #f8f8f8;
  }

  .form-group {
    max-width: 470px;
    margin: 80px auto 0;
  }

  .form-control {
    font-size: 16px;
    letter-spacing: .02em;
    color: #bfbfbf;
    text-align: center;
    background-color: #f8f8f8;
    border: none;
    border-bottom: 2px solid #4D4949;
    transition: none;
    border-radius: 0;
    padding: 30px;

    &:focus {
      outline: 0;
      box-shadow: none;
      border-color: #252628;
    }
  }

  .news_letter_btn {
    width: 158px;
    padding: 15px;
    background: #252628;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: .02em;
    color: #fff;
    border-radius: 0;
    margin-top: 40px;

    &:hover {
      background: #434548;
      color: #fff;
    }
  }
}

footer {
  .navbar-dark {
    .navbar-nav {
      .nav-link {
        color: #4D4949;
        font-weight: 600;
        font-size: 14px;
        letter-spacing: .05em;
        text-align: left;

        &:hover {
          color: rgb(0, 0, 0);
        }
      }
    }
  }

  .container-fluid {
    max-width: 1680px;
    margin-bottom: 15px;
  }
}
@media screen and (max-width:1919px) {
  .kabino_img {
    background: url("./assets/images/kabino_img.jpg");
    background-repeat: no-repeat;
    background-position-x: -50px;
    height: 655px;
  }

  .section_caption1 {
    margin-right: 15px;
    padding-bottom: 30px;
  }

  .aram_chair {
    background-repeat: no-repeat;
    background-position-x: -80px;
    background-position-y: -40px;
    background-color: #fdebeb;
    height: 655px;
  }

  .wooden_chair {
    background-repeat: no-repeat;
    background-position-x: -130px;
    background-position-y: 0;
    background-color: #f9f7e8;
    height: 655px;
  }

  .section_caption2 {
    padding-bottom: 30px;
  }

  .section_caption3 {
    padding-bottom: 30px;
  }

  .contact_us {
    height: 655px;
  }

  .news_letter.text-center {
    height: 655px;
  }

  .form-group {
    max-width: 420px;
  }

  .news_letter {
    p {
      max-width: 83%;
      margin-top: 15px;
    }
  }

  footer {
    .container-fluid {
      max-width: 1410px;
    }
  }

  .section_caption3.text-center {
    width: 38%;
  }
}
@media screen and (max-width:1639px) {
  .section_caption2 {
    max-width: 90%;
    padding-bottom: 30px;
    max-width: 100%;
    padding: 18px;
  }

  .section_caption1 {
    max-width: 49%;
    margin-right: 24px;
    padding-bottom: 0;
  }

  .section_caption3 {
    padding-bottom: 0;
  }

  .kabino_img {
    background-position-x: -200px;
    height: 600px;
  }

  .aram_chair {
    background-repeat: no-repeat;
    background-position-x: -120px;
    background-position-y: -50px;
    height: 600px;
  }

  .body_text {
    margin: 10px 0 30px;
  }

  .wooden_chair {
    height: 600px;
  }

  .contact_us {
    height: 600px;
    padding: 109px 60px 109px 100px;
  }

  .news_letter.text-center {
    height: 600px;
  }

  .section_caption3.text-center {
    width: 38%;
  }

  .custom_btn {
    &:last-child {
      margin-left: 16px;
    }
  }
}
@media screen and (max-width:1439px) {
  .navbar-dark {
    .navbar-nav {
      .nav-link {
        padding: 18px;
      }
    }
  }

  .custom_btn {
    &:last-child {
      margin-right: 1.625rem !important;
    }
  }

  .slider-caption {
    left: 15%;

    h1.title {
      font-size: 60px;
      letter-spacing: .06em;
      line-height: 50px;
      color: #4d4949;
      padding: 26px 0 20px;
    }

    .body_text {
      max-width: 450px;
      margin-bottom: 40px;
    }
  }

  img.slider_one {
    margin-left: -100px;
  }

  // div#myCarousel {
  //   margin-top: 64px;
  // }

  .carousel-indicators {
    li {
      margin-bottom: 30px;
    }
  }

  h3.title {
    font-size: 40px;
    letter-spacing: .04em;
    line-height: 50px;
  }

  .section_caption2 {
    max-width: 90%;
    padding: 0;
    margin-bottom: 20px;
    max-width: 90%;
  }

  .section_caption1 {
    max-width: 49%;
    margin-right: 24px;
    padding-bottom: 0;
  }

  .section_caption3 {
    padding-bottom: 0;
  }

  .kabino_img {
    background-position-x: -230px;
    background-position-y: -40px;
    height: 580px;
  }

  .aram_chair {
    background-repeat: no-repeat;
    background-position-x: -130px;
    background-position-y: -60px;
    height: 580px;
  }

  .body_text {
    margin: 10px 0 30px;
  }

  .wooden_chair {
    height: 580px;
    background-position-x: -260px;
  }

  .contact_us {
    height: 580px;
    padding: 99px 40px 99px 90px;
  }

  .news_letter.text-center {
    height: 580px;
  }

  .section_caption3.text-center {
    width: 38%;
  }

  .news_letter {
    p {
      max-width: 90%;
    }
  }

  .form-group {
    max-width: 350px;
  }

  footer {
    .container-fluid {
      max-width: 1180px;
    }
  }
}
@media screen and (max-width:1365px) {
  .navbar-dark {
    .navbar-nav {
      .nav-link {
        padding: 12px;
      }
    }
  }

  img.slider_one {
    height: 90%;
    margin-left: -120px;
  }

  // div#myCarousel {
  //   margin-top: 34px;
  // }

  .slider-caption {
    h1.title {
      font-size: 56px;
      line-height: 48px;
      padding: 20px 0 15px;
    }
  }

  .section_caption1 {
    margin-right: 20px;
  }

  .section_caption2 {
    padding: 0;
    margin-bottom: 10px;
    max-width: 93%;
  }

  h3.title {
    font-size: 38px;
    letter-spacing: .04em;
    line-height: 44px;
  }

  .contact_us {
    padding: 99px 40px 99px 90px;
  }

  footer {
    .container-fluid {
      max-width: 1090px;
    }
  }

  .custom_btn {
    &:last-child {
      margin-left: 12px;
    }

    padding: 10px 34px;
  }
}
@media screen and (max-width:1279px) {
  .navbar-brand {
    margin-right: 0;

    img {
      width: 150px;
    }
  }

  .navbar-dark {
    .navbar-nav {
      .nav-link {
        padding: 8px;
        letter-spacing: .06em;
      }
    }
  }

  .custom_btn {
    &:last-child {
      margin-left: 10px !important;
      margin-right: 1.5rem !important;
    }

    padding: 8px 24px;
  }

  .slider-caption {
    h1.title {
      font-size: 50px;
      line-height: 44px;
      padding: 16px 0 12px;
    }

    .body_text {
      font-size: 16px;
      margin-bottom: 40px;
    }

    left: 14%;
  }

  img.slider_one {
    height: 85%;
    margin-left: -160px;
  }

  .kabino_img {
    background-position-x: -310px;
  }

  .section_caption1 {
    margin-right: 30px;
  }

  h3.title {
    font-size: 32px;
    letter-spacing: .03em;
    line-height: 36px;
  }

  .body_text {
    margin: 8px 0 24px;
    font-size: 16px;
  }

  .view_products_btn {
    padding: 14px;
    font-size: 14px;
    letter-spacing: .04em;
  }

  .aram_chair {
    background-position-x: -170px;
  }

  .section_caption2 {
    margin-bottom: 15px;
  }

  .wooden_chair {
    background: url("./assets/images/wooden_chair2.jpg");
    background-color: #f9f7e8;
    background-position-x: -70px;
  }

  .contact_us {
    padding: 100px 30px 100px 70px;

    h6 {
      font-size: 24px;
      margin: 45px 0 20px;
    }

    p {
      a {
        font-size: 16px;
      }
    }
  }

  .form-group {
    max-width: 280px;
    margin-top: 40px;
  }

  .news_letter_btn {
    width: 140px;
    padding: 14px;
    font-size: 14px;
    margin-top: 30px;
  }

  footer {
    .container-fluid {
      max-width: 940px;
    }
  }
}
@media screen and (max-width:1079px) {
  .custom_btn {
    &:last-child {
      margin-right: 1rem !important;
    }
  }

  .navbar-dark {
    .navbar-nav {
      .nav-link {
        font-size: 12px;
      }
    }
  }

  .slider-caption {
    left: 22%;
  }

  img.slider_one {
    height: 84%;
    margin-left: -150px;
  }

  .aram_chair {
    background-position-y: -70px;
    height: 540px;
  }

  .container-fluid {
    padding: 15px 15px 0;
  }

  .section_four {
    .col-lg-8.col-sm-12 {
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  .section_two {
    .col-lg-8.col-sm-12 {
      padding-right: 0;
    }
  }

  .kabino_img {
    height: 540px;
  }

  .wooden_chair {
    height: 540px;
  }

  .contact_us {
    height: 540px;
    padding: 110px 70px;
  }

  .news_letter.text-center {
    height: 540px;
  }

  // div#myCarousel {
  //   margin-top: 80px;
  // }
}
@media screen and (max-width:991px) {
  .contact_us {
    h6 {
      font-size: 20px;
    }

    height: auto;
    padding: 80px 30px 80px 60px;
    margin-bottom: 15px;
  }

  button.navbar-toggler {
    margin-right: 24px;
  }

  .navbar-dark {
    .navbar-nav {
      .nav-link {
        text-align: center;
        margin: 0 auto;
        font-size: 18px;
        padding: 10px;
      }
    }
  }

  .custom_btn {
    text-align: center;
    margin: 0 auto;
    display: table;
    padding: 10px 34px;

    &:last-child {
      text-align: center;
      margin: 0 auto !important;
      display: table;
    }
  }

  button.btn.custom_btn {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .navbar-collapse.collapse.show {
    padding-bottom: 60px !important;
  }

  .slider-caption {
    left: 10%;
    margin-top: 400px;
  }

  img.slider_one {
    margin-top: 200px;
    height: 74%;
    margin-left: -30px;
  }

  .kabino_img {
    height: auto;
  }

  .aram_chair {
    height: auto;
    background-position-x: 20px;
  }

  .wooden_chair {
    height: auto;
    background-position-x: -180px;
  }

  .news_letter.text-center {
    height: auto;
  }

  .section_caption3.text-center {
    width: 60%;
  }

  .section_caption2 {
    max-width: 60%;
  }

  .section_caption1 {
    margin-right: 40px;
  }

  .aram_chair.d-flex.align-items-center {
    margin-top: 15px;
  }

  .news_letter {
    p {
      max-width: 60%;
    }
  }

  .section_four {
    .col-lg-4.col-sm-12 {
      padding-right: 0;
      padding-left: 0;
    }
  }

  nav.navbar.navbar-expand-sm.navbar-dark {
    margin: 0 auto;
    display: table;
    text-align: center;
  }

  .section_two {
    .col-lg-8.col-sm-12 {
      padding-right: 15px;
    }
  }
}
@media screen and (max-width:767px) {
  .slider-caption {
    h1.title {
      font-size: 44px;
      line-height: 36px;
      padding: 16px 90px 12px 0;
    }

    left: 5%;
    margin-top: 500px;

    .body_text {
      font-size: 14px;
      margin-bottom: 30px;
      padding: 0 80px 0 0;
    }
  }

  .navbar-collapse.collapse.show {
    padding-bottom: 100% !important;
    margin-top: 40%;
  }

  button.btn.custom_btn {
    margin-top: 40%;
    margin-bottom: 15px;
  }

  img.slider_one {
    margin-top: 270px;
    height: 60%;
    margin-left: -100px;
  }

  h3.title {
    font-size: 28px;
    letter-spacing: .03em;
    line-height: 30px;
  }

  .body_text {
    margin: 12px 0 24px;
    font-size: 14px;
  }

  .section_caption1 {
    margin-right: 0;
  }

  .kabino_img {
    background-position-x: -340px;
    height: 540px;
  }

  .aram_chair {
    background-position-x: -70px;
    height: 540px;
  }

  .wooden_chair {
    height: 540px;
    background-position-x: -280px;
  }

  .contact_us {
    height: 540px;
    padding: 80px 15px 30px 40px;
    margin-bottom: 15px;
    height: 460px !important;
  }

  .news_letter.text-center {
    height: 540px;
    height: 460px;
  }

  ul.list-unstyled.text-small {
    li {
      margin: 10px 0;
    }
  }

  footer {
    .navbar-dark {
      .navbar-nav {
        .nav-link {
          padding: 10px;
        }
      }
    }
  }

  .navbar-dark {
    .navbar-nav {
      .nav-link {
        padding: 20px;
      }
    }
  }
}
@media screen and (max-width:575px) {
  .navbar-collapse.collapse.show {
    padding-bottom: 100% !important;
    margin-top: 20%;
  }

  // div#myCarousel {
  //   margin-top: 40px;
  // }

  button.btn.custom_btn {
    margin-top: 20%;
    margin-bottom: 15px;
  }

  .slider-caption {
    h1.title {
      font-size: 40px;
      line-height: 34px;
      padding: 16px 40px 12px 0;
    }

    .body_text {
      margin-bottom: 50px;
    }
  }

  .carousel-control-next {
    display: none;
  }

  .carousel-control-prev {
    display: none;
  }

  .carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 60px;

    li {
      margin-bottom: 0;
    }
  }

  .carousel-item {
    height: 890px;
  }

  .kabino_img {
    background-position-x: -450px;
  }

  .section_caption1 {
    margin-right: 20px;
  }

  .aram_chair {
    background-position-x: -150px;
  }

  .section_caption2 {
    max-width: 90%;
  }

  .section_caption3.text-center {
    width: 80%;
  }

  .contact_us {
    padding: 60px 5px 30px;
    margin-bottom: 15px;
    height: 460px !important;

    p {
      max-width: 100%;
    }
  }

  .form-group {
    max-width: 310px;
    margin-top: 40px;
  }

  .navbar-dark {
    .navbar-nav {
      .nav-link {
        font-size: 14px;
        padding: 10px;
      }
    }
  }

  img.slider_one {
    height: 50%;
    margin-left: -150px;
    margin-top: 300px;
  }

  h3.title {
    font-size: 24px;
    letter-spacing: .03em;
    line-height: 26px;
  }

  .news_letter {
    p {
      max-width: 100%;
    }
  }

  .view_products_btn {
    padding: 13px;
    font-size: 14px;
    letter-spacing: .04em;
  }
}

/**************  GENERAL MODAL START ************/

.modal {
  padding-right: 0 !important;

  .modal-header {
    justify-content: center;
    border-bottom: none;
    margin-bottom: 30px;
    padding: 8px 16px;
    align-items: center;
    flex-direction: column;
    @media screen and (max-width: 991px) {
      margin-bottom: 10px;
    }

    .modal-title {
      font-size: 28px;
      @media screen and (max-width: 991px) {
        font-size: 24px;
      }
    }
  }

  .modal-content {
    button {
      span {
        img,
        svg {
          margin: 7px 7px 0 0;
          @media screen and (max-width: 991px) {
            width: 25px;
          }
        }
      }
    }

    .modal-body {
      padding: 20px 50px 40px;
      @media screen and (max-width: 991px) {
        padding: 20px;
      }

    }
  }
}

/**************  GENERAL MODAL END ************/

/**************  GENERAL FORM START ************/

.input-group {
  margin-bottom: 30px;
  flex-direction: row;

  .my_account & {
    margin-bottom: 20px;
  }

  &.two_side,
  .modal & {
    flex-wrap: nowrap;
    margin-bottom: 20px;
  }
  @media screen and (max-width: 1365px) {
    margin-bottom: 20px;
  }
  @media screen and (max-width: 991px) {
    flex-direction: column;

    .input_box_1.form-control {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  label {
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  .error_msg {
    color: #f00;
  }

  .form-control {
    background: #f8f8f8;
    border: 1px solid #bfbfbf !important;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: .05em;
    color: $dark;
    padding: 0 18px;
    height: 56px !important;
    border-radius: 5px !important;
    text-align: left;
    width: 100%;
    text-transform: uppercase;
    @media screen and (max-width: 1440px) {
      height: 45px !important;
    }
  }

  .bootstrap-select {
    .dropdown-toggle {
      height: 54px;
      line-height: 40px;
      font-size: 14px;
      @media screen and (max-width: 1440px) {
        height: 43px;
        line-height: 30px;
      }

      &:focus {
        outline: none !important;
        background: none !important;
      }

      &:hover {
        background: none !important;
        border-color: #fff !important;
      }

      &:after {
        border-bottom: 0;
        border-right: .5em solid transparent;
        border-top: .5em solid;
        border-left: .5em solid transparent;
        color: #666;
      }

      .filter-option-inner-inner {
        text-transform: uppercase;
      }
    }

    .dropdown-menu {
      .dropdown-item {
        font-size: 14px;

        &.active,
        &:active {
          background: $gray;

          &:hover {
            color: #fff;
          }
        }
      }
    }
  }
  @media screen and (min-width: 992px) {
    .input_box_1 {
      border-radius: 5px 0 0 5px !important;
    }

    .input_box_2 {
      border-radius: 0 5px 5px 0 !important;
    }
  }
}

.upload_document_file {
  position: relative;
  margin-bottom: 20px;
  cursor: pointer;
  display: flex;
  @media screen and (max-width: 1440px) {
    margin-bottom: 20px;

    svg {
      height: 45px;
    }
  }

  .upload_document {
    margin-left: 30px;
  }

  .btn_action {
    font-size: 10px;
    padding: 0 10px;
    line-height: 18px;
  }

  .custom-file-input {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    margin: 0;
    opacity: 0;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
  }
}

/**************  GENERAL FORM END ************/

.btn_blue {
  background: $light_blue;
  font-size: 14px;
  color: $dark;
  min-width: 200px;
  text-align: center;
  height: 56px;
  border: none;
  @include border-radius(5px);
  text-transform: uppercase;
  font-family: $font_futura_bold;
  @media screen and (max-width: 1440px) {
    height: 45px;
  }

  &.w_150 {
    min-width: 150px;
  }
}

.btn_pink {
  @extend .btn_blue;
  background: $pink;
}

.btn_action {
  color: $dark;
  font-size: 12px;
  text-transform: uppercase;
  padding: 5px 15px;
  text-align: center;
  @include border-radius(2px);
  border: none;
  background: none;
  margin: 0 8px;
  width: max-content;

  &.btn_border {
    border: 1px solid $dark;
    background: #fff;
  }

  &.pink {
    background: $pink;
  }

  &.orange {
    background: $orange;
  }

  &.light_blue {
    background: $light_blue;
  }

  &.blue {
    background: $blue;
  }
}

.page_title {
  font-size: 16px;
  color: $dark;
  margin-bottom: 40px;
  font-family: $font_futura_bold;
  text-transform: uppercase;
}

nav.tab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  @media screen and (max-width: 991px) {
    flex-direction: column;
  }

  .nav-tabs {
    border: none;
    @media screen and (max-width: 991px) {
      margin-bottom: 20px;
    }
    @media screen and (max-width: 767px) {
      flex-direction: column;
    }

    .nav-item.show {
      .nav-link {
        color: #495057;
        background-color: #fff;
        border-bottom: solid 2px #f8afaf;
      }
    }

    .nav-link.active {
      color: #495057;
      background-color: #fff;
      border-bottom: solid 2px #f8afaf;
    }

    .nav-link {
      border: none;
      font-family: "Futura Md BT";
      border: none;
      margin-right: 60px;
      padding: 4px 0;
      color: #495057;
      width: max-content;
      @media screen and (max-width: 767px) {
        margin-right: 0;
        padding: 4px 0;
      }

      a {
        font-weight: 500;
        font-size: 14px;
        letter-spacing: .03em;
        color: #131313;
      }
      @media screen and (max-width: 575px) {
        margin-right: 10px;
        padding: 2px 4px;
      }
    }
  }
}

/******************* DASHBOARD PAGES *************************/

.dashboard {
  font-family: $font_futura_medium;

  .side_space {
    margin: 0 80px 80px;
    @media screen and (max-width: 1440px) {
      margin: 20px;
    }
  }

  .container-fluid {
    padding: 0;
  }
}

.shadow_box {
  background: #fff;
  @include border-radius(5px);
  @include box-shadow(0 0 15px #ddd);
  padding: 25px;

  .my_account & {
    padding: 30px 20px;
    @media screen and (min-width: 1441px) {
      // margin-right: 200px;
      padding: 30px 60px;
    }
  }
}

.general_table {
  table {
    width: 100%;

    th {
      color: $blue;
      text-transform: uppercase;
      font-weight: normal;
      border-bottom: 1px solid #ddd;
      padding: 0 5px 5px;
    }

    .action_col {
      text-align: center;
      width: 480px;
    }

    .action_btn_wrap {
      display: flex;
      justify-content: center;
    }

    td,
    th {
      font-size: 16px;
    }

    td {
      border-top: none;
      color: $dark;
      padding: 20px 5px 0;
    }
  }
}

.dashboard_nav {
  margin: 50px 0;
  @media screen and (max-width: 1440px) {
    margin: 25px 0;
  }

  &.navbar {
    justify-content: flex-end;

    .navbar-toggler {
      margin-right: 0;
      border: none;
      padding: 0;
    }

    .navbar-collapse {
      margin: 20px 0 !important;
      @media screen and (max-width: 1200px) {
        justify-content: flex-end;
        text-align: right;
      }

      &.collapse.show {
        display: flex;
        padding-bottom: 0 !important;
      }
    }
  }

  .nav-item {
    &:first-child {
      .nav-link {
        margin-left: -24px;
        @media screen and (max-width: 1440px) {
          margin-left: -12px;
        }
        @media screen and (max-width: 1200px) {
          margin-left: 0;
        }
      }
    }

    &:last-child {
      .nav-link {
        border-right: none;
        margin-right: -24px;
        @media screen and (max-width: 1440px) {
          margin-right: -12px;
        }
        @media screen and (max-width: 1200px) {
          margin-right: 0;
        }

      }
    }

    .nav-link {
      color: #bfbfbf;
      padding: 0 23px;
      border-right: 1px solid #bfbfbf;
      text-transform: uppercase;
      line-height: 22px;
      @media screen and (max-width: 1440px) {
        padding: 0 12px;
      }
      @media screen and (max-width: 1200px) {
        border-right: none;
        padding: 0;
      }
    }

    &.active,
    &:hover {
      .nav-link {
        color: #000;
        position: relative;
        @media screen and (min-width: 1200px) {
          &:after {
            content: "";
            border-bottom: 2px solid #FE8F7B;
            position: absolute;
            width: 62%;
            bottom: -8px;
            left: 19%;
          }
        }
      }
    }

  }
}

.top_bar {
  display: flex;
  margin: 30px 0;
  align-items: center;
  justify-content: space-between;
  @media screen and (max-width: 991px) {
    align-items: flex-start;
    flex-direction: column;
  }

  .license_detail {
    ul {
      display: flex;
      margin-bottom: 0;
      @media screen and (max-width: 575px) {
        flex-direction: column;
      }

      li {
        min-width: 115px;
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        font-weight: 500;
        padding: 0 10px;
        color: $dark;
        margin-right: 50px;
        text-transform: uppercase;

        span {
          &:last-child {
            margin-left: 15px;
          }
        }
        @media screen and (max-width: 575px) {
          margin: 0 0 20px;
        }
      }
    }
  }

  .btn_blue {
    font-size: 14px;
    min-width: 150px;
    margin-left: 20px;
    @media screen and (max-width: 991px) {
      margin: 20px 20px 0 0;
    }
  }
}

#PaymentDetails {
  .modal-dialog {
    max-width: 500px;
  }

  .modal-body {
    .table td,
    .table th {
      font-weight: 400;
      font-size: 16px;
      text-align: left;
      color: #131313;
      padding: 0;
      margin: 0;
      border: none;
      width: 40%;
      line-height: 40px;
    }

    .form-horizontal {
      .input-group {
        flex-wrap: wrap;
        margin-bottom: 15px;

        &:first-child {
          margin-top: 30px;
        }

        &:last-child {
          margin-bottom: 40px;
        }

      }

    }
  }
}

#payment_details_list {
  .modal-dialog {
    max-width: 750px;

    .general_table {
      th {
        width: 50%;
      }

      td {
        padding: 10px 5px;
      }

      .top_border {
        border-top: 1px solid #ddd;
      }

      .total {
        font-size: 20px;
        color: $blue;
      }
    }
  }
}

#invoice_details {
  .modal-dialog {
    max-width: 600px;

    .general_table {
      th {
        width: 50%;
      }

      td {
        padding: 20px 5px;
      }
    }
  }
}

.product_img {
  width: 40px;
  height: 40px;
  padding: 5px;
  @include box-shadow(0 0 10px #ccc);

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.custom-tooltip {
  cursor: pointer;
}

.tooltip {
  // left: -5px !important;

  &.show {
    opacity: 1;
  }

  .arrow {
    &:before {
      border-left-color: #ddd;
      border-width: 8px 0 8px 8px;
    }
  }

  .tooltip-inner {
    text-align: left;
    min-width: 350px;
    background: #ddd;
    color: #000;
    padding: 12px 18px;
    font-size: 16px;
    border-radius: 8px;
  }
}
